@import "tailwindcss";

.active{
    color: #1E73BE;
}
body{
    background-color: #f8f8fa;
}
.editorjsdiv h2{
    font-weight: 600;
    font-size: 18px;
}

.editorjsdiv h3,h4,h5{
    font-weight: 500;
    font-size: 16px;   
}

.editorjsdiv li{
    margin-bottom: 10px;
    list-style-type: disc;
    padding-left: 10px;
    margin-left: 25px;
}